<!DOCTYPE html>
<html>


<body bgcolor="orange">

<h1>
<center><b>Create A Group</b></center></h1>
<hr color="black"><br><br><br>
<hr color="black"><br><br><br>


<center><form action="">
  <label for="group">Name of Group:</label><br>
  <input type="text" id="group" name="group" value=""><br><br>
  <label for="interest">Group Interest:</label><br>
  <input type="text" id="interest" name="interest" value=""><br><br>
  <label for="name">Created By:</label><br>
  <input type="text" id="name" name="name" value=""><br><br>
  <label for="date">Date Created:</label><br>
  <input type="text" id="date" name="date" value=""><br><br>
  <label for="email">Creators Email:</label><br>
  <input type="text" id="email" name="email" value=""><br><br>
  <label for="creator">Creator's Home Page:</label><br>
  <input type"text" id="creator" name="creator" placeholder="URL"><br><br>
  <label for="subject">Details for the Group:</label><br>
  <input type="textarea" id="subject" name="subject" placeholder="Write something.." style="height:100px"><br><br>
  <input type="submit" value="Create"> <input type="submit" value="Home">
</form></center> 
  
<br><br><br>
<hr color="black">
<br><br>



</body>
</html>
